<div class="container">

  <h2>Our menu</h2>

  <div class="row d-flex justify-content-between">
      <% @cocktails.each do |cocktail| %>
        <div class="col-4 mt-4">
          <div class="card-show">
            <h5> <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-show-title"%></h5>
            <% cocktail.doses.each do |dose| %>
              <p class="card-text"><%= dose.description %> <%= dose.ingredient.name %></p>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>

</div>




