$pink: #F60074;

.card-show {
  border-radius: 10px;
  background: black;
  color: white;
  border: 3px solid $pink;
  width: 320px;
  height: 240px;
  padding: 16px;
}

.card-show-title {
  color: white;
  text-decoration: none;
  &:hover {
    color: $pink;
    text-decoration: none;
  }
}
