$pink: #F60074;
$orange: #FA672B;

.card-show {
  border-radius: 10px;
  color: white;
  border: 3px solid $orange;
  width: 320px;
  height: 240px;
  padding: 16px;
  // background-color: black;
  // &:hover {
  //   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  //          url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>');
  // }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 1;
  &:hover {
    opacity: 0.1;
  }
}

.card-show-title {
  color: white;
  text-decoration: none;
  &:hover {
    color: $orange;
    text-decoration: none;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 32px 0;
}


